<!-- 
Jackie Xu and William Soe
SoftDev Pd9
HW07 Login
10.04.17
-->

<!-- welcome page, displays username and a logout button -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
  </head>
  <body align="center">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method = "GET" action = "/logout">
	  <h2>Welcome, {{username}}!</h2>
      <input type = "submit" value = "Log Out">
    </form>
  </body>
</html>
