body {
	background-color: #C5C3C6;
	border: 5px solid white;
}

h1,h2 {
	text-align: center;
	color: #6C969D;
}

h3 {
	text-align: center;
	color: #6C969D;
}

a {
	color: #72C3CE;
	text-decoration: none;
	font-style: italic;;
}

ul {
	margin-left: 45%;
}

p {
	color: #46494C;
	margin-top: 10px;
	margin-left: 5px;
	margin-down: 10px;
	margin-right: 5px;
	background: white;
}
